@page {
  margin: 0;
}

body {
  margin: 0;
  background: white;
  font-size: 13px;
  font-family: "Lucida Console", monospace;
}

.struk {
  width: 58mm;
  padding: 5mm;
  font-family: "Courier New", monospace;
  font-size: 14px;
  line-height: 1.4;
}

.big {
  font-size: 18px;
  font-weight: bold;
}

.center {
  text-align: left;
}
