@page {
  size: 58mm auto; /* penting */
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  font-size: 13px;
  font-family: "Courier New", monospace;
}

.struk {
  width: 58mm; /* jangan px */
  padding: 5mm;
  box-sizing: border-box;
  font-family: "Courier New", monospace;
  font-size: 13px;
  line-height: 1.4;
}

.big {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.center {
  text-align: left;
}

pre {
  margin: 0;
  white-space: pre;
  font-size: 12px;
  font-family: "Courier New", monospace;
}

.mt {
  margin-top: 6px;
}
